    /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
    /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

p {
    color: #ccc;
}

.active {
    background-color: rgb(204, 209, 204);
    color: rgb(0, 0, 0);
  }

  .tab .icon {
    display: none;
  }

  .tab a:hover {
    background-color: #ddd;
    color: black;
  }

@media screen and (max-width: 600px) {
    .tab button:not(:first-child) {display: none;}
    .tab button.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .tab.responsive button {
        float: none;
        display: block;
        text-align: left;
        padding: 14px 50px;
    }
}

