{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>SVG Metalurgica</title>
        <link rel="icon" href="{{ MEDIA_URL }}img/svg_icon.ico">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        {% block cssplus %}
        {% endblock %}
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet %}">
        <link type="text/css" rel="stylesheet" href="{% static "css/carousel.css" %}"/>

        <link rel="stylesheet" href="{% static "css/isotope/style.css" %}">

        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/responsive.css" %}" rel="stylesheet">

    </head>

    <body data-spy="scroll" data-target="#header">
        <section id="header">
            <div class="header-area">
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href="{% url 'index' %}"><img class="img-resposinve" style="width:100; height:50px;" src="{% static "img/svglogo-02.png" %}" alt=""></a>
                            </div>

                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a href="{% url 'index' %}">Pagina Inicial </a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        {% block body %}

        {% endblock %}

        <section id="footer">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="copyright">
                                <p>&#174; 2018 - SVG Metalurgica</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="designer">
                                <p>A Design By <a href="#">SVG Desenvolvimento</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <script src="{% static "js/jquery-1.12.3.min.js" %}"></script>

        <script src="{% static "js/waypoints.min.js" %}"></script>
        <script src="{% static "js/jquery.counterup.min.js" %}"></script>

        <script>
                //for counter up
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });
            </script>

        <script src="{% static "js/isotope/min/scripts-min.js" %}"></script>
        <script src="{% static "js/isotope/cells-by-row.js" %}"></script>
        <script src="{% static "js/isotope/isotope.pkgd.min.js" %}"></script>
        <script src="{% static "js/isotope/packery-mode.pkgd.min.js" %}"></script>
        <script src="{% static "js/isotope/scripts.js" %}"></script>


        <script src="{% static "js/backtotop.js" %}"></script>


        <script src="{% static "js/jquery.localScroll.min.js" %}"></script>
        <script src="{% static "js/jquery.scrollTo.min.js" %}"></script>
        <script src="{% static "js/wow.min.js" %}"></script>
        <script>
            new WOW().init();
        </script>


        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>


        {% block jsplus %}
        {% endblock %}
    </body>
</html>