{% extends 'base.html' %}

{% block cssplus%}
    <style>
        #imgsolution {
            max-height: 1000px;

        }
    </style>
{% endblock %}

{% block body %}
<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="event_header text-center">
                    <h2>{{image.imagetitle}}</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 text-center">
            <img id='imgsolution' class="responsive" src="{{image.image.url}}" alt="">
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="event_news_text">
                    <h4 class="text-center">Descrição</h4>
                    <p>{{image.imagedescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock%}