{% extends "base.html" %}

{% block body %}
<section id="portfolio" class="text-center">
            <div class="col-md-12">
                <div class="portfolio_title">
                    <h2>Obras concluídas</h2>
                </div>
            </div>
            <div class="colum">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="notes">
                                {% for item in images %}
                                <div class="note red {{item.category}}">
                                        <a href="{% url 'imagedetail' item.pk %}"><div class="img_overlay">
                                        <p>{{item.imagetitle}}</p>
                                    </div></a>
                                    <img  src="{{item.image.url}}" alt="{{item.imagetitle}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}