{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>SVG Metalurgica</title>
        <link rel="icon" href="media/img/svg_icon.ico">

        <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> -->

        <link rel="stylesheet" href="static/css/font-awesome.min.css">

        <!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css"> -->

        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/css/carousel.css" />

        <link rel="stylesheet" href="static/css/isotope/style.css">

        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/responsive.css" rel="stylesheet">

          <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> -->
          <!-- <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
    </head>

    <body data-spy="scroll" data-target="#header">

        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <i class="fa fa-home floatleft"></i>
                                    <p>{{ basic.address }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <i class="fa fa-phone floatleft"></i>
                                    <p>{{ basic.telnumber }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social_icon text-right">
                                    <a href="https://www.facebook.com/SvgMetalurgica/"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href="#"><img class="img-resposinve" style="width:100; height:50px;" src="static/img/svglogo-02.png" alt=""></a>
                            </div>

                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li class="active"><a href="#header">Principal <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#welcome">Sobre</a></li>
                                    <li><a href="#portfolio">Obras</a></li>
                                    <li><a href="#event">Soluções</a></li>
                                    <li><a href="#testimonial">Testemunhos</a></li>
                                    <li><a href="#contact">Contato</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>



        <section id="slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
                    {% for item in count %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ item.number }}" ></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="slider_overlay">
                            <img src="{{firstslide.image.url}}" alt="...">
                            <div class="carousel-caption info">
                                <div class="slider_text inner">
                                    <h2> {{firstslide.slidetitle}} </h2>
                                    <p>  {{firstslide.slidetext}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for item in slides %}
                    <div class="item">
                        <div class="slider_overlay">
                            <img src="{{item.image.url}}" alt="...">
                            <div class="carousel-caption info">
                                <div class="slider_text inner">
                                    <h2> {{item.slidetitle}}</h2>
                                    <p>  {{item.slidetext}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>



        <section id="welcome">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wel_header">
                            <h2>Bem vindo a SVG Metalurgica</h2>
                            <p>{{basic.mensage}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <div class="welcome_icon">
                                        <i class="fa fa-list-alt"></i>
                                    </div>
                                    <h4>Missão</h4>
                                    <p>{{basic.mission}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <div class="welcome_icon">
                                    <i class="fa fa-line-chart"></i>
                                    </div>
                                    <h4>Visão</h4>
                                    <p>{{basic.vision}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <div class="welcome_icon">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4>Valores</h4>
                                    <p>{{basic.values}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-btn">
                    <a href="{% url 'more_info' %}" class="btn custom-btn-event">Mais Sobre a Empresa</a>
                </div>
            </div>
        </section>


        <section id="portfolio" class="text-center">
            <div class="col-md-12">
                <div class="portfolio_title">
                    <h2>Obras concluídas</h2>
                </div>
            </div>
            <div class="colum">
                <div class="container">
                    <div class="row">
                        <form action="/">
                            <ul id="portfolio_menu" class="menu portfolio_custom_menu">
                                <li>
                                    <button data-filter="*" class="my_btn btn_active">Todos</button>
                                </li>
                                {% for item in images %}
                                <li>
                                    <button data-filter=".{{item.category}}" class="my_btn">{{item.category}}</button>
                                </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="notes">
                                {% for item in images %}
                                <div class="note red {{item.category}}">
                                    <a href="{% url 'imagedetail' item.pk %}"><div class="img_overlay">
                                        <p>{{item.imagetitle}}</p>
                                    </div></a>
                                    <img src="{{item.image.url}}" alt="{{item.imagetitle}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-btn">
                            <a href="{% url 'imagelist' %}" class="btn custom-btn-port">Mais Obras</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h2>Soluções</h2>
                        </div>
                    </div>
                </div>
                    <div class="col-md-12">
                        {%for item in solutions%}
                        <div class="event_news col-md-6">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="{{item.image.url}}" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="{% url 'solutiondetail' item.pk %}"><h4>{{item.solutiontitle}}</h4></a>
                                    <p>{{item.description}}</p>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-btn">
                            <a href="{% url 'solutionlist' %}" class="btn custom-btn-event">Mais Soluções</a>
                        </div>
                </div>
            </div>
        </section>



        <section id="testimonial">
            <div class="testimonial_overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="testimonial_header text-center">
                                <h2>Testemunhos</h2>
                            </div>
                        </div>
                    </div>
                    <section id="carousel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                        <ol class="carousel-indicators">
                                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                            {%for item in testimonialslist%}
                                            <li data-target="#fade-quote-carousel" data-slide-to="{{item.number}}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <div class="row">
                                                    {%for item in testimonialsactive %}
                                                    <div class="col-md-6">
                                                        <div class="profile-circle">
                                                            <img src="{{item.image.url}}" alt="">
                                                        </div>
                                                        <div class="testimonial_content">
                                                            <i class="fa fa-quote-left"></i>
                                                            <p>{{item.testimonials}}</p>
                                                        </div>
                                                        <div class="testimonial_author">
                                                            <h5>{{item.name}}</h5>
                                                            <p>{{item.office}}</p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    {% for item in testminials %}
                                                    <div class="col-md-6">
                                                        <div class="profile-circle">
                                                            <img src="{{item.image.url}}" alt="">
                                                        </div>
                                                        <div class="testimonial_content">
                                                            <i class="fa fa-quote-left"></i>
                                                            <p>{{item.testimonials}}</p>
                                                        </div>
                                                        <div class="testimonial_author">
                                                            <h5>{{item.name}}</h5>
                                                            <p>{{item.office}}</p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>


        <section id="market">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="market_header text-center">
                            <h2>Parceiros</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="market_area text-center">
                            <div class="row">
                                {%for item in partners %}
                                <div class="col-md-3">
                                    <div class="market_logo">
                                        <a href="{{item.link}}"><img src="{{item.image.url}}" alt="{{item.name}}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="colmd-12">
                        <div class="contact_area text-center">
                            <h3>Contato</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="office">
                            <div class="title">
                                <h5>Mais informações</h5>
                            </div>
                            <div class="office_location">
                                <div class="address">
                                    <i class="fa fa-map-marker"><span>{{basic.address}}</span></i>
                                </div>
                                <div class="phone">
                                    <i class="fa fa-phone"><span>+{{basic.telnumber}}</span></i>
                                </div>
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="msg">
                            <div class="msg_title">
                                <h5>Mande uma mensagem</h5>
                            </div>
                            <div class="form_area">
                                <div class="contact-form wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                                    <div id="message"></div>
                                    <form method="POST" class="form-horizontal contact-1" role="form" name="contactform" id="contactform">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Nome">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="email" id="email" placeholder="E-mail">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input name="subject" type="subject" class="form-control" id="subject" placeholder="Assunto *">
                                                <div class="text_area">
                                                    <textarea name="message" id="msg" class="form-control" cols="30" rows="8" placeholder="Mensagem"></textarea>
                                                </div>
                                                <button type="submit" class="btn custom-btn" data-loading-text="Loading...">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>&#174; 2018 - SVG Metalurgica</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="designer">
                            <p>A Design By <a href="#">SVG Desenvolvimento</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>


        <script src="static/js/jquery-1.12.3.min.js"></script>

        <!-- <script src="static/js/waypoints.min.js"></script> -->
        <!-- <script src="static/js/jquery.counterup.min.js"></script> -->

        <script>
            $('#contactform').submit(function(event) {
                console.log('i am here');
                $.ajax({
                    type:'POST',
                    url:"{% url 'emailsend' %}",
                    data: $('#contactform').serialize(),
                    success: function (data){
                        alert("Mensagem enviada");
                    }
                });
            })
        </script>

        <script>
            //for counter up
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        </script>

        <script src="static/js/gmaps.min.js"></script>
        <script type="text/javascript">
            var map;
            $(document).ready(function () {
                map = new GMaps({
                    el: '#map',
                    lat: -15.62579289999999,
                    lng: -56.143830099999995,
                    zoomControl: true,
                    zoomControlOpt: {
                        style: 'SMALL',
                        position: 'LEFT_BOTTOM'
                    },
                    panControl: false,
                    streetViewControl: false,
                    mapTypeControl: false,
                    overviewMapControl: false,
                    scrollwheel: false,
                    zoom: 16,
                });


                map.addMarker({
                    lat: -15.62579289999999,
                    lng: -56.143830099999995,
                    title: 'Office',
                    details: {
                        database_id: 42,
                        author: 'Foysal'
                    },
                    click: function (e) {
                        if (console.log)
                            console.log(e);
                        alert('You clicked in this marker');
                    },
                    mouseover: function (e) {
                        if (console.log)
                            console.log(e);
                    }
                });
            });
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjxvF9oTfcziZWw--3phPVx1ztAsyhXL4"></script>


        <!-- <script src="static/js/isotope/min/scripts-min.js"></script> -->
        <!-- <script src="static/js/isotope/cells-by-row.js"></script> -->
        <script src="static/js/isotope/isotope.pkgd.min.js"></script>
        <script src="static/js/isotope/packery-mode.pkgd.min.js"></script>
        <script src="static/js/isotope/scripts.js"></script>


        <script src="static/js/backtotop.js"></script>


        <script src="static/js/jquery.localScroll.min.js"></script>
        <script src="static/js/jquery.scrollTo.min.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>


        <script src="static/js/bootstrap.min.js"></script>
        <!-- <script src="static/js/main.js"></script> -->
    </body>

</html>