{% extends "base.html" %}
{% load static %}
{% block cssplus %}
<link href="{% static "css/more-information.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
<section id="portfolio" class="text-center">
    <div class="col-md-12">
        <div class="portfolio_title">
            <h2>Mais informações</h2>
            <p>Clique em uma das abas para exibir as informações</p>
        </div>
    </div>
    <div class="container">
        <div class="tab" id="myTopnav">
            {% for item in categorys %}
            <button class="tablinks" onclick="openCity(event, '{{item.pk}}')">{{item.name}}</button>
            {%endfor%}
            <button href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        {%for item in docs %}
        <div id="{{item.category.pk}}" class="tabcontent text-center">
            <div class="col-md-4 text-center">
                <p><b>Nome: </b>{{item.name}}</p>
            </div>
            <div class="col-md-4 text-center">
                <p><b>Data: </b>{{item.date_entry}}</p>
            </div>
            <div class="com-md-4 text-center">
                <a class="btn btn-primary" target="_blank" href="{{item.archive.url}}"><i class="fa fa-download" aria-hidden="true"></i> Baixar</a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock %}

{% block jsplus %}
  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "tab") {
            x.className += " responsive";
        } else {
            x.className = "tab";
        }
    }
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        for (i = 0; i < tabcontent.length; i++) {
            if(tabcontent[i].id == cityName){
                tabcontent[i].style.display = "block";
            }
        }
        evt.currentTarget.className += " active";
    }
  </script>
{% endblock %}