{% extends 'base.html' %}

{% block body %}
<section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="event_header text-center">
                        <h2>Soluções</h2>
                    </div>
                </div>
            </div>
            <!--End of row-->
                <!--End of col-md-8-->
                <div class="col-md-12">
                    {%for item in solutions%}
                    <div class="event_news col-md-6">
                        <div class="event_single_item fix">
                            <div class="event_news_img floatleft">
                                <img src="{{item.image.url}}" alt="">
                            </div>
                            <div class="event_news_text">
                                <a href="{% url 'solutiondetail' item.pk %}"><h4>{{item.solutiontitle}}</h4></a>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <!--End of col-md-4-->
            </div>
            <!--End of row-->
        </div>
        <!--End of container-->
    </section>
    <!--end of event-->
{% endblock%}